file-style {
  font-family: fantasy;
}

.red {
  color: red
}

.uppercase {
  text-transform: uppercase
}

heirarchy {
  color: violet;
  font-size: 20px
}

.heirarchy {
  color: indigo;
  font-size: 30px
}

#heirarchy {
  color: blue;
  font-size: 40px
}