/* This resets defaults to 0 and stops the box borders increasing total box size */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: monospace;
  padding: 20px
}

file-style {
  font-family: fantasy;
  color: aqua
}

.aquamarine {
  color: aquamarine
}

.uppercase {
  text-transform: uppercase
}

selector-1.selector-2 {
  color: azure;
  background: black
}

heirarchy {
  color: beige;
  font-size: 20px
}

.heirarchy {
  color: bisque;
  font-size: 25px;
}

#heirarchy {
  color: blanchedalmond;
  font-size: 30px;
}

important-div {
  color: blue !important;
  font-size: 35px !important;
}

#styled-list li {
  color: blueviolet
}

styled, together {
  color: brown
}

bold-section {
  font-weight: bold
}

normal-section {
  font-weight: normal
}

#left-align {
  text-align: left
}

#center-align {
  text-align: center
}

#right-align {
  text-align: right
}

overlay {
  opacity: 0.5;
}

.local {
  background-image: url("local-image.png");
}

.web {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png");
}

.image {
  height: 300px;
  background-size: cover;
  background-position: center;
  font-style: italic;
  padding: 20px;
}

.caption {
  color: black;
  background: white;
  opacity: 0.5;
  width:fit-content;
  padding: 10px;
  position: relative;
  top: 80%;
  font-weight:bold;
  font-size: 30px;
  border: thin solid burlywood
}

#circular-box {
  padding: 10px;
  width: 100px;
  height:100px;
  border: thick dashed cadetblue;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center
}

.second {
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
  
}

.third {
  margin: 5px 20px 5px 20px;
  padding: 5px 20px 5px 20px;
}

.fourth {
  margin: 5px 20px;
  padding: 5px 20px;
}

.box {
  border: thin solid black;
  width: fit-content;
}

.center-align {
  display: flex;
  justify-content: center
}

#container {
  width: 300px;
  height: 300px;
  border: thin solid black;
  display: flex;
  justify-content: center
}

.content {
  width: 300px;
  margin: auto auto;
  text-align: center
}

#margin-padding {
  width: fit-content
}

.margin-padding {
  padding: 20px;
  width: 100%;
  margin: 20px;
  text-align: center;
}

.max-min {
  max-width: 300px;
  min-width: 300px;
  max-height: 300px;
  min-height: 300px;
}

.overflow {
  width: 200px;
  height: 50px;
  border: thin solid black
}

.visible {
  overflow: visible
}

.scroll {
  overflow: scroll
}

.hidden {
  overflow: hidden
}

visibility-hidden {
  visibility: hidden
}

display-none {
  display: none
}

.relative {
  position: relative;
  bottom: 150px;
  left: 150px;
}

.absolute {
  position: absolute;
  top: 3000px;
  left: 500px;
}

.red {
  background: red
}

.fixed {
  position: fixed;
  top: 200px;
  left: 900px;
}

.underneath {
  z-index: 0
}

.ontop {
  z-index: 1
}

.italics {
  font-style: italic
}

.inline {
  display: inline
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.float-left {
  float: left
}

.float-right {
  float: right
}

.question {
  text-align: center;
  position: relative;
  top: 40px;
}

.clear-left {
  clear: left;
}

.small {
  height: 100px;
  width: 100px
}
.answer {
  border: 1px solid #466995;
  margin: 20px;
  height: 150px;
  width: 200px;
  float: left;
}

h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto 20px auto;
}

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

h4 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}