body {
  font-family: monospace;
}

file-style {
  font-family: fantasy;
}

.red {
  color: red
}

.uppercase {
  text-transform: uppercase
}

selector-1.selector-2 {
  color: red
}

heirarchy {
  color: violet;
  font-size: 20px
}

.heirarchy {
  color: indigo;
  font-size: 25px
}

#heirarchy {
  color: blue;
  font-size: 30px
}

important-div {
  color: green !important;
  font-size: 35px
}

.styled-list li {
  color: red
}

styled, together {
  color: aquamarine
}